Include
Lib
/src/mguzdek/__pycache__/*.pyc
/src/posts/__pycache__/*.pyc
/tcl/tcl8.6/*.tcl
/tcl/tcl8.6/encoding/*.enc
/tcl/tcl8.6/http1.0/*.tcl
/tcl/tcl8.6/msgs/*.msg
/tcl/tcl8.6/opt0.4/*.tcl
/tcl/tcl8.6/*
/tcl/tcl8.6/tzdata/Africa/*
/tcl/tcl8.6/tzdata/America/*
/tcl/tcl8.6/tzdata/America/Argentina/*
/tcl/tcl8.6/tzdata/America/Indiana/*
/tcl/tcl8.6/tzdata/America/Kentucky/*
/tcl/tcl8.6/tzdata/America/North_Dakota/*
/tcl/tcl8.6/tzdata/Antarctica/*
/tcl/tcl8.6/tzdata/Arctic/*
/tcl/tcl8.6/tzdata/Asia/*
/tcl/tcl8.6/tzdata/Atlantic/*
/tcl/tcl8.6/tzdata/Australia/*
/tcl/tcl8.6/tzdata/Brazil/*
/tcl/tcl8.6/tzdata/*
/tcl/tcl8.6/tzdata/Canada/*
/tcl/tcl8.6/tzdata/Chile/*
/tcl/tcl8.6/tzdata/Etc/*
/tcl/tcl8.6/tzdata/Europe/*
/tcl/tcl8.6/tzdata/Indian/*
/tcl/tcl8.6/tzdata/Mexico/*
/tcl/tcl8.6/tzdata/Pacific/*
/tcl/tcl8.6/tzdata/SystemV/*
/tcl/tcl8.6/tzdata/US/*
/tcl/tk8.6/*.tcl
/tcl/tk8.6/demos/*
/tcl/tk8.6/demos/*.tcl
/tcl/tk8.6/demos/*.msg
/tcl/tk8.6/demos/images/*.gif
/tcl/tk8.6/demos/images/*.xbm
/tcl/tk8.6/demos/images/*.png
/tcl/tk8.6/demos/images/*.ppm
/tcl/tk8.6/demos/*.terms
/tcl/tk8.6/images/*
/tcl/tk8.6/images/*.png
/tcl/tk8.6/images/*.svg
/tcl/tk8.6/images/*.eps
/tcl/tk8.6/images/*.gif
/tcl/tk8.6/*.terms
/tcl/tk8.6/msgs/*.msg
/tcl/tk8.6/*
/tcl/tk8.6/ttk/*.tcl
