{% load staticfiles %}
<html>
	<head>
		<title>{% block head_title %}mguzdek.pl - Blog.Post.Create().Add() {% endblock head_title %}</title>
		<link href='{% static "css/bootstrap.css" %}' rel='stylesheet' type='text/css' />
		<link href='{% static "css/style.css" %}'  rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<style>
			{% block style %}{% endblock style %}
		</style>

		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src='{% static "js/move-top.js" %}'></script>
		<script type="text/javascript" src='{% static "js/easing.js" %}'></script>
		<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
						});
					});
		</script>
	</head>

	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8&appId=1495893997370987";
			fjs.parentNode.insertBefore(js, fjs);
		}
		(document, 'script', 'facebook-jssdk'));
		</script>

		{% include "messages_display.html" %}
		<div class="header">  
			<div class="container">
				<div class="fixed-rectangle">
					<p>MATEUSZ<br>GUZDEK</p>
				</div>
				<div class="top-menu">
					<div class="search">
						<form>
							<input type="text" placeholder="" required="">
							<input type="submit" value=""/>
						</form>
					</div>
					<span class="menu"> </span> 
					<ul>
						<li class="active"><a href="/posts">HOME</a></li>						
						<li><a href="about.html">ABOUT</a></li>	
						<li><a href="contact.html">CONTACT</a></li>						
						<div class="clearfix"> </div>
					</ul>
				</div>
				<div class="clearfix"></div>
				<script>
					$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
					});
				</script>				
			</div>
		</div>
{% block content %}
{% endblock content %}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>

