{% extends "base.html" %}

{% block head_title %}{{ instance.title }} || {{ block.super }}
{% endblock head_title %}

{% block content %}
	<div>
		<div class='col-sm-6 col-sm-offset-3'>
			{% if instance.image %} 
				<img src='{{instance.image.url}}' class='img-responsive'/>
			{%endif%}

			<h1>{{title}}
				<small>{% if instance.draft %}
					<span style='color:red;'> Draft </span>
					{% endif %}
					<span>  {{instance.publish}}  </span>
				</small>
			</h1>

			<div class='row'>
			<div class='col-sm-12'>

			{{ instance.content|safe }}
			</br>

			<hr/>
			<br/>
			  </div>
			  <div class="content-form">
					<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
			</div>
			</div>
	</div>
{% endblock content %}
